.agmr-map-container-inner {
  width: 100%;
  height: 96vh;
}
.agmr-map-content {
  display: none;
}

// START: Snazzy Info Window Replica styles

// Content
$sir-content-bg: #fff !default; // Background color of the infowindow
$sir-content-padding: 30px !default; // Padding of the infowindow
$sir-font-size: 14px !default; // Font size of the infowindow content

// Border
$sir-border-width: 1px !default; // Width of the border
$sir-border-color: #bbb !default; // Color of the border
$sir-border-radius: 3px !default; // Border radius of the infowindow

// Pointer
$sir-pointer-length: 15px !default; // Length of the pointer, from the edge of the infowindow to the tip

// Shadow
$sir-shadow-h: 0 !default; // Shadow horizontal offset
$sir-shadow-v: 1px !default; // Shadow vertical offset
$sir-shadow-blur: 3px !default; // Shadow blur radius
$sir-shadow-spread: 0 !default; // Shadow spread radius
$sir-shadow-color: #000 !default; // Shadow color
$sir-shadow-opacity: 0.298039 !default; // Shadow opacity

// Close button
$sir-close-font-size: 24px !default; // Size of the close button text
$sir-close-opacity: 0.5 !default; // Initial opacity of the close button
$sir-close-hover-opacity: 0.7 !default; // Hover and focus opacity of the close button

//////////////////////////////
// 0. Variables
//////////////////////////////

// Snazzy Info Window settings
$sir-pre: sir;

// Default marker
$sir-default-marker-width: 22px;
$sir-default-marker-height: 40px;
$sir-default-marker-anchor-x: 11px;
$sir-default-marker-anchor-y: 40px;
$sir-default-marker-margin: 0;

// Math variable
$sir-root-2: 1.41421356237;
$sir-inverse-root-2: 0.7071067811865474;

// Pointer settings
$sir-rotation: -45deg;
$sir-rotated-shadow-h: $sir-inverse-root-2 * ($sir-shadow-h - $sir-shadow-v); // Only applies to a -45deg rotation
$sir-rotated-shadow-v: $sir-inverse-root-2 * ($sir-shadow-h + $sir-shadow-v); // Only applies to a -45deg rotation

::ng-deep {
  //////////////////////////////
  // 1. Wrapper Styles
  //////////////////////////////

  // Infowindow wrapper
  .#{$sir-pre}-float-wrapper {
    position: absolute;
    width: 100%;

    &,
    * {
      box-sizing: border-box;
    }
  }

  [class*='#{$sir-pre}-wrapper'] {
    display: flex;
    position: absolute;
    align-items: center;
    font-size: $sir-font-size;
    cursor: default;
  }

  // Top-positioned infowindow
  .#{$sir-pre}-wrapper-top {
    flex-direction: column;
    margin-top: -$sir-default-marker-anchor-y - $sir-default-marker-margin;
    margin-left: $sir-default-marker-width / 2 - $sir-default-marker-anchor-x;
    transform: translate(-50%, -100%);
  }

  // Bottom-positioned infowindow
  .#{$sir-pre}-wrapper-bottom {
    flex-direction: column-reverse;
    margin-top: $sir-default-marker-height - $sir-default-marker-anchor-y + $sir-default-marker-margin;
    margin-left: $sir-default-marker-width / 2 - $sir-default-marker-anchor-x;
    transform: translate(-50%, 0);
  }

  // Left-positioned infowindow
  .#{$sir-pre}-wrapper-left {
    margin-top: $sir-default-marker-height / 2 - $sir-default-marker-anchor-y;
    margin-left: -$sir-default-marker-anchor-x - $sir-default-marker-margin;
    transform: translate(-100%, -50%);
  }

  // Right-positioned infowindow
  .#{$sir-pre}-wrapper-right {
    flex-direction: row-reverse;
    margin-top: $sir-default-marker-height / 2 - $sir-default-marker-anchor-y;
    margin-left: $sir-default-marker-width - $sir-default-marker-anchor-x + $sir-default-marker-margin;
    transform: translate(0, -50%);
  }

  //////////////////////////////
  // 2. Infowindow Shadow
  //////////////////////////////

  // Shadow wrapper
  [class*='#{$sir-pre}-shadow-wrapper'] {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: $sir-shadow-opacity;
    z-index: 1;
  }

  // Shadow position
  .#{$sir-pre}-shadow-wrapper-top,
  .#{$sir-pre}-shadow-wrapper-bottom {
    flex-direction: column;
  }

  .#{$sir-pre}-shadow-pointer-bottom,
  .#{$sir-pre}-shadow-pointer-right {
    order: -1;
  }

  // Box shadow
  .#{$sir-pre}-shadow-frame {
    box-shadow: $sir-shadow-h $sir-shadow-v $sir-shadow-blur $sir-shadow-spread $sir-shadow-color;
  }

  // Pointer shadow
  [class*='#{$sir-pre}-shadow-pointer'] {
    position: relative;
    width: $sir-pointer-length;
    height: $sir-pointer-length;
    margin: auto;
  }

  [class*='#{$sir-pre}-shadow-inner-pointer'] {
    position: absolute;
    width: 141%;
    height: 141%;
    box-shadow: $sir-rotated-shadow-h $sir-rotated-shadow-v $sir-shadow-blur $sir-shadow-spread $sir-shadow-color;
  }

  .#{$sir-pre}-shadow-inner-pointer-top {
    left: 50%;
    transform: translate(-50%, -50%) rotate($sir-rotation);
  }

  .#{$sir-pre}-shadow-inner-pointer-bottom {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) rotate($sir-rotation);
  }

  .#{$sir-pre}-shadow-inner-pointer-left {
    top: 50%;
    transform: translate(-50%, -50%) rotate($sir-rotation);
  }

  .#{$sir-pre}-shadow-inner-pointer-right {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%) rotate($sir-rotation);
  }

  //////////////////////////////
  // 3. Content Styles
  //////////////////////////////

  // Content styles
  .#{$sir-pre}-frame {
    position: relative;
    flex: 1 1 auto;
    border-radius: $sir-border-radius;
    overflow: hidden;
    z-index: 2;
  }

  .#{$sir-pre}-content-wrapper {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: $sir-content-padding;
    background-color: $sir-content-bg;

    .#{$sir-pre}-has-border & {
      border: $sir-border-width solid $sir-border-color;
    }
  }

  .#{$sir-pre}-content {
    overflow: auto;
  }

  //////////////////////////////
  // 4. Close Button
  //////////////////////////////

  .#{$sir-pre}-close-button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    outline: none;
    background-color: transparent;
    color: inherit;
    font-family: Arial, Baskerville, monospace;
    font-size: $sir-close-font-size;
    cursor: pointer;
    opacity: $sir-close-opacity;
    appearance: none;

    &:hover,
    &:focus {
      opacity: $sir-close-hover-opacity;
    }
  }

  //////////////////////////////
  // 5. Pointer Styles
  //////////////////////////////

  [class*='#{$sir-pre}-pointer-border'] {
    position: absolute;
    border: $sir-pointer-length solid transparent;
    z-index: 3;
  }

  $sir-triangle-difference: min(round($sir-border-width * ($sir-root-2 - 1)), $sir-pointer-length);

  [class*='#{$sir-pre}-pointer-bg'] {
    position: relative;
    border: $sir-pointer-length solid transparent;
    z-index: 4;

    .#{$sir-pre}-has-border & {
      border-width: $sir-pointer-length - $sir-triangle-difference;
    }
  }

  .#{$sir-pre}-pointer-border-top,
  .#{$sir-pre}-pointer-border-bottom {
    left: 50%;
    transform: translate(-50%, 0);
  }

  .#{$sir-pre}-pointer-border-left,
  .#{$sir-pre}-pointer-border-right {
    top: 50%;
    transform: translate(0, -50%);
  }

  // Top pointer poisitioning
  .#{$sir-pre}-pointer-top {
    border-bottom: 0;
  }

  .#{$sir-pre}-pointer-border-top {
    bottom: 0;
    border-top-color: $sir-border-color;
  }

  .#{$sir-pre}-pointer-bg-top {
    border-top-color: $sir-content-bg;

    .#{$sir-pre}-has-border & {
      top: -$sir-border-width;
      margin-bottom: $sir-triangle-difference;
    }
  }

  // Bottom pointer positioning
  .#{$sir-pre}-pointer-bottom {
    border-top: 0;
  }

  .#{$sir-pre}-pointer-border-bottom {
    top: 0;
    border-bottom-color: $sir-border-color;
  }

  .#{$sir-pre}-pointer-bg-bottom {
    border-bottom-color: $sir-content-bg;

    .#{$sir-pre}-has-border & {
      bottom: -$sir-border-width;
      margin-top: $sir-triangle-difference;
    }
  }

  // Left pointer positioning
  .#{$sir-pre}-pointer-left {
    border-right: 0;
  }

  .#{$sir-pre}-pointer-border-left {
    right: 0;
    border-left-color: $sir-border-color;
  }

  .#{$sir-pre}-pointer-bg-left {
    border-left-color: $sir-content-bg;

    .#{$sir-pre}-has-border & {
      left: -$sir-border-width;
      margin-right: $sir-triangle-difference;
    }
  }

  // Right pointer positioning
  .#{$sir-pre}-pointer-right {
    border-left: 0;
  }

  .#{$sir-pre}-pointer-border-right {
    left: 0;
    border-right-color: $sir-border-color;
  }

  .#{$sir-pre}-pointer-bg-right {
    border-right-color: $sir-content-bg;

    .#{$sir-pre}-has-border & {
      right: -$sir-border-width;
      margin-left: $sir-triangle-difference;
    }
  }
}

// END: Snazzy Info Window Replica styles
