<div>App is running</div>
<agmr-map
  [latitude]="49.23099"
  [longitude]="-123.17769"
  [zoom]="11"
  [minZoom]="3"
  [maxZoom]="14"
  [style.height.vw]="63"
>
  <agmr-marker
    [latitude]="49.23099"
    [longitude]="-123.17769"
    [label]="'M'"
    [title]="'Test marker'"
    [markerClickable]="true"
  >
    <agmr-snazzy-info-window
      [openOnMarkerClick]="true"
      [placement]="'right'"
      [panOnOpen]="true"
      [showCloseButton]="false"
      [closeOnMapClick]="true"
      [closeWhenOthersOpen]="true"
      [pointer]="true"
    >
      <ng-template>
        <div>Hi, this is the content of the <strong>snazzy info window</strong></div>
      </ng-template>
    </agmr-snazzy-info-window>
  </agmr-marker>
</agmr-map>
