<div>App is running</div>
<agmr-map [zoom]="11" [minZoom]="3" [maxZoom]="14" [fitBounds]="true" [style.height.vh]="96">
  <agmr-marker
    *ngFor="let point of points; index as i"
    [latitude]="point.lat"
    [longitude]="point.lng"
    [label]="'M' + i"
    [title]="'Test marker #' + i"
    [markerClickable]="true"
    [agmrFitBounds]="true"
    (markerClick)="log('clicked: ', $event)"
    (markerDblClick)="log('double clicked: ', $event)"
  >
    <agmr-snazzy-info-window
      [openOnMarkerClick]="true"
      [placement]="point.placement"
      [panOnOpen]="true"
      [showCloseButton]="true"
      [closeOnMapClick]="true"
      [closeWhenOthersOpen]="true"
      [pointer]="true"
    >
      <ng-template>
        <div>
          Hi, this is the content of the <strong>Snazzy Info Window #{{ i }}</strong>
        </div>
      </ng-template>
    </agmr-snazzy-info-window>
  </agmr-marker>
  <agmr-polyline [strokeColor]="'#0079b8'" [strokeWeight]="1">
    <agmr-icon-sequence
      [path]="'CIRCLE'"
      [scale]="3"
      [anchorX]="0"
      [anchorY]="0"
      [strokeColor]="'#0079b8'"
      [strokeWeight]="1"
      [strokeOpacity]="0.7"
      [fillColor]="'transparent'"
      [repeat]="'5%'"
    ></agmr-icon-sequence>
    <agmr-polyline-point
      *ngFor="let point of points; index as i"
      [latitude]="point.lat"
      [longitude]="point.lng"
    ></agmr-polyline-point>
  </agmr-polyline>
  <agmr-circle
    [latitude]="49.23099"
    [longitude]="-123.17769"
    [radius]="3000"
    [strokeColor]="'#f6a623'"
    [strokeOpacity]="1"
    [strokeWeight]="1"
    [fillColor]="'transparent'"
    [fillOpacity]="0"
    [circleDraggable]="false"
    [clickable]="true"
    (circleClick)="log('clicked: ', $event)"
    (circleDblClick)="log('double clicked: ', $event)"
  ></agmr-circle>
  <agmr-polygon
    [paths]="polygonPath"
    [strokeColor]="'#f6a623'"
    [strokeOpacity]="1"
    [strokeWeight]="1"
    [fillColor]="'transparent'"
    [fillOpacity]="0"
    [clickable]="true"
    (polyClick)="log('clicked: ', $event)"
    (polyDblClick)="log('double clicked: ', $event)"
  ></agmr-polygon>
  <agmr-rectangle
    [north]="49.43099"
    [east]="-123.16021"
    [south]="49.23099"
    [west]="-123.21799"
    [strokeColor]="'#f6a623'"
    [strokeOpacity]="1"
    [strokeWeight]="1"
    [fillColor]="'transparent'"
    [fillOpacity]="0"
    [clickable]="true"
    (rectangleClick)="log('clicked: ', $event)"
    (rectangleDblClick)="log('double clicked: ', $event)"
  ></agmr-rectangle>
</agmr-map>
